    
:root {
--bg-color: #ffffff;
--text-color: #1B1B1B;
--font-family: Poppins;
--normal-font:Poppins;
--font-size: 18px;
--line-height: 1.6;
}
body.dark-mode {
  /* hsl (fallback color) */
  --bg-dark: hsl(13 100% 2%);
  --bg: hsl(25 100% 4%);
  --bg-light: hsl(36 100% 6%);
  --text: hsl(39 100% 86%);
  --text-muted: hsl(39 54% 61%);
  --highlight: hsl(44 100% 20%);
  --border: hsl(42 100% 13%);
  --border-muted: hsl(37 100% 9%);
  --primary: hsl(40 63% 58%);
  --secondary: hsl(219 97% 76%);
  --danger: hsl(8 63% 66%);
  --warning: hsl(52 49% 46%);
  --success: hsl(151 41% 51%);
  --info: hsl(217 73% 68%);
  /* oklch */
  --bg-dark: oklch(0.1 0.06 82);
  --bg: oklch(0.15 0.06 82);
  --bg-light: oklch(0.2 0.06 82);
  --text: oklch(0.96 0.1 82);
  --text-muted: oklch(0.76 0.1 82);
  --highlight: oklch(0.5 0.12 82);
  --border: oklch(0.4 0.12 82);
  --border-muted: oklch(0.3 0.12 82);
  --primary: oklch(0.76 0.12 82);
  --secondary: oklch(0.76 0.12 262);
  --danger: oklch(0.7 0.12 30);
  --warning: oklch(0.7 0.12 100);
  --success: oklch(0.7 0.12 160);
  --info: oklch(0.7 0.12 260);
}
:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(38 84% 85%);
  --bg: hsl(38 100% 90%);
  --bg-light: hsl(38 100% 95%);
  --text: hsl(8 100% 5%);
  --text-muted: hsl(42 100% 13%);
  --highlight: hsl(39 100% 89%);
  --border: hsl(42 84% 35%);
  --border-muted: hsl(40 54% 50%);
  --primary: hsl(42 100% 13%);
  --secondary: hsl(220 61% 33%);
  --danger: hsl(7 47% 42%);
  --warning: hsl(53 100% 17%);
  --success: hsl(161 100% 19%);
  --info: hsl(217 50% 44%);
  /* oklch */
  --bg-dark: oklch(0.92 0.06 82);
  --bg: oklch(0.96 0.06 82);
  --bg-light: oklch(1 0.06 82);
  --text: oklch(0.15 0.12 82);
  --text-muted: oklch(0.4 0.12 82);
  --highlight: oklch(1 0.12 82);
  --border: oklch(0.6 0.12 82);
  --border-muted: oklch(0.7 0.12 82);
  --primary: oklch(0.4 0.12 82);
  --secondary: oklch(0.4 0.12 262);
  --danger: oklch(0.5 0.12 30);
  --warning: oklch(0.5 0.12 100);
  --success: oklch(0.5 0.12 160);
  --info: oklch(0.5 0.12 260);
}
@font-face {
    font-family: 'AdobeDevnagri';
    src: url('Adobe Devanagari.otf') format('opentype');
}
@font-face {
    font-family: 'TiffinDevnagri';
    src: url('Tiffin-Devanagari-Book.otf') format('opentype');
}
        html{
            margin:0;
            padding: 0;
        }
        body {
        display: flex;
        
        padding: 0;
        box-sizing: border-box;
        margin: 0;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.3s, color 0.3s;
        background-color: var(--bg-dark);
        color: var(--text-color);
        font-family: var(--normal-font);
        font-size: var(--font-size);
        line-height: var(--line-height);
        transition: all 0.3s ease;
        flex-direction: column;
        width:100vw;
        overflow-x:hidden ;
        
      
        }
        
        html,
body, .container {
    overflow-x: hidden;
}

        .dark-mode {
        --bg-color: #000;
        --text-color: #cccccc;
        }
        
            nav{
        display: flex;
        background: var(--bg);
        justify-content: space-between;
        border-bottom: 1px solid var(--border);
        padding: 12px 16px;
        color:var(--text);
        font-size: 18px;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }
    nav a{
      font-weight: 500;
      text-decoration: none;
      padding: 0;
    margin: 0;
        color:var(--text);
    display: flex;
    }
    
    nav svg{
      height:28px;
      width:28px ;
    }
    .logo svg {
    margin-right: 8px;
}
     nav ul.menu{
         display: none;
        padding: 0;
        margin:0;
         list-style: none;
         justify-content: flex-end;
         width: 100%;
         align-items: center;
         gap:32px;
     }
     nav li {
         font-size: 16px;
        padding: 0;
          margin:0;
          display:flex;
          align-items: center;
          color:var(--text-muted);
transition: 0.3s;
     }
     nav li a{
         color: inherit;

     }
      nav li:hover{
                   color:var(--text);

      }
        .container {
            
          
            background: var(--bg-read);
           padding: 1rem;
                        overflow-x: hidden;
                        font-family: var(--font-family);
                        
                        
        }
        #content-paragraph{
            margin:0; 
        }
        .highlight-toolbar {
            position: absolute;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            background-color: #333;
            padding: 0.70rem 0.75rem;
            border-radius: 0.75rem;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: opacity 0.1s ease-out, transform 0.1s ease-out, visibility 0.1s ease-out;
            z-index: 1000;
            cursor: move;
            user-select: none;
            max-width: 305px;
        }

        .highlight-toolbar.visible {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            display: flex;
        }

        .highlight-toolbar button {
            background-color: #555;
            color: #fff;
            padding: 0.5rem 0.75rem;
            border-radius: 0.5rem;
            font-weight: 500;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
            display: flex;
            align-items: center;
            gap: 0.25rem;
            border: 0;
        }

        .highlight-toolbar button:hover {
            background-color: #777;
            transform: translateY(-1px);
        }

        .highlight-toolbar button:active {
            transform: translateY(0);
        }

        .color-palette {
            display: flex;
            gap: 0.35rem;
            margin-left: 0rem;
        }

        .color-option {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid transparent;
            transition: transform 0.1s ease-in-out, border-color 0.1s ease-in-out;
        }

        .color-option:hover {
            transform: scale(1.1);
            border-color: #fff;
        }

        .highlighted {
            padding: 0px 0;
            border-radius: 0.3rem;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
             
        }

        .underlined {
            text-decoration: underline;
            text-underline-offset: 3px;
            text-decoration-thickness: 2px;
        }

        .highlighted.active,
        .underlined.active {
            box-shadow: 0 0 0 2px #60a5fa;
            z-index: 1;
            position: relative;
        }

        .hidden {
            display: none !important;
        }

 
        .color-option.picker{
            background: url('radial.png');
            background-size:120%;                      /* <------ */
            background-repeat:   no-repeat;
            background-position: center;              
            border-radius: 20px;
        }
        .picker * {
            opacity: 0;
        }
        h2{
        text-align:center;
        
        }
        
        /* PREF */
        .fab {
        position: fixed;
        bottom: 65px;
        right: 20px;
        width: 40px;
        height: 40px;
        background-color: #343434;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        z-index: 1000;
        transition: transform 0.2s ease, background-color 0.3s ease;
        
        }
        
        .fab:hover {
        transform: scale(1.1);
        background-color: #1E1E1E;
        }
        
        .fab svg {
        width: 18px;
        height: 18px;
        }
        
        .dropdown {
        position: fixed;
        bottom: 120px;
        right: 20px;
        background-color: var(--bg-color);
        border: 1px solid #ccc;
        border-radius: 16px;
        padding: 16px;
        width: 200px;
        box-shadow: 0 6px 16px rgba(0,0,0,0.25);
        display: none;
        flex-direction: column;
        gap: 12px;
        z-index: 999;
        color: var(--text-color);
        transition: all 0.3s ease;
        transform: scale(0.8);
        opacity: 0;
        transform-origin: bottom right;
        line-height: 1.5;
        font-family: Poppins;
        }

        .dropdown.show {
        display: flex;
        animation: dropdownAppear 0.3s ease forwards;
        }
        
        @keyframes dropdownAppear {
        from {
        opacity: 0;
        transform: scale(0.8);
        }
        to {
        opacity: 1;
        transform: scale(1);
        }
        }
        
        .dropdown:not(.show) {
        animation: dropdownDisappear 0.2s ease forwards;
        }
        
        @keyframes dropdownDisappear {
        from {
        opacity: 1;
        transform: scale(1);
        }
        to {
        opacity: 0;
        transform: scale(0.8);
        }
        }
        
        .dropdown-section {
        display: flex;
        flex-direction: column;
        gap: 8px;
        }
        
        .dropdown label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--text-color);
        }
        
        .icon {
        width: 16px;
        height: 16px;
        }
        
        .button-group {
        display: flex;
        gap: 8px;
        }
        
        .dropdown button, .dropdown select {
        font-family: Poppins;
        font-weight: 500;
        width: 100%;
        padding: 8px;
        font-size: 14px;
        border-radius: 6px;
        border: 1px solid #aaa;
        background-color: #f0f0f0;
        cursor: pointer;
        transition: background-color 0.2s ease, transform 0.1s ease;
        outline: none;
        }
        
        .dropdown button:hover {
        background-color: #ddd;
        transform: translateY(-1px);
        }
        
        .dropdown button:active {
        transform: translateY(0);
        }
        
        .dropdown .x-buttons{
            display: flex;
            gap:8px;
        }
        .dropdown .x-buttons button{
            padding:0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
}

        .dropdown .x-buttons button svg {
    padding: 0;
    margin: 0;
}
        .dropdown select {
        appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="%23333" d="M7 10l5 5 5-5H7z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 8px center;
        }
        

        .dark-mode .dropdown {
        border-color: #555555;
        }
        
        .dark-mode .dropdown button,
        .dark-mode .dropdown select {
        background-color: #2a2a2a;
        color: var(--text-color);
        border-color: #555555;
        }
        
        .dark-mode .dropdown button:hover {
        background-color: #3a3a3a;
        }
        
        .dark-mode .dropdown select {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="%23f1f1f1" d="M7 10l5 5 5-5H7z"/></svg>');
        }
        
        .night-light {
        color: #cc8643 !important;
        --text-color:#cc8643;
        }
        
        .night-light .dropdown,
        .night-light .dropdown button,
        .night-light .dropdown select {
        color: #cc8643;
        }
        
        .night-light .dropdown select {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="%23ff8800" d="M7 10l5 5 5-5H7z"/></svg>');
        }
        
        
        .grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.grid > a.item {
  padding: 1rem;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
border:1px solid var(--border-muted);
border-top-color: var(--highlight);
/*  border:2px solid grey; 
*/
background: var(--bg);
flex-direction: column;
  color:var(--text);
   
   
   user-select: none;          /* Standard */
-webkit-user-select: none;  /* Chrome, Safari */
-moz-user-select: none;     /* Firefox */
-ms-user-select: none;      /* IE10+ */

 }

.grid > a.item:hover{
    background: linear-gradient(0deg, var(--bg), var(--bg-light));
}

.search {
    display: flex;
    margin: 16px 16px 0 16px;
    background: var(--bg);
    border-radius: 12px;
    border: 1px solid var(--border-muted);
    border-top-color: var(--highlight);
    color: var(--text);
    box-sizing: border-box;
    flex-direction: column;
}
.search .linearX{
    display: flex;
    align-items: center;

}
.search .linearX input {
 outline: none;
box-sizing: border-box;
border: none;
padding: 12px 12px 12px 16px;
color: var(--text);
font-family: var(--normal-font);
font-size: 16px;
background: none;
    width: 100%;
} 
.search .svg {
    display: flex;
}
.svg svg {
  transition: transform 0.3s ease;
  transform-origin: center;
}

#searchmore:checked + label.svg svg {
  transform: rotate(180deg);
}

.search svg{
    height:28px;
    width:28px;
    margin-right: 8px;
    cursor: pointer;
}
.dialog {
  padding: 12px 12px 12px 16px;
  justify-content: space-between;
    display: none;
    
}
.dialog label {
    font-size: 16px;
    display: flex;
  color:var(--text-muted);

}
.dialog input {

}
.dialog.open {
  display: flex;

}

.search input::placeholder {
  color:var(--text-muted);
}

.audioPlayer{
    position: fixed;
    bottom:-56px;
margin:0 auto;
    right:0;
    left: 0;
    backdrop-filter: blur(15px);
    max-width: 100%;
    display: flex;
    padding: 0 12px;
           border-top: 1px solid var(--border);
           border-left: 1px solid var(--border);
           border-right: 1px solid var(--border);
           border-radius:12px 12px 0 0;
box-sizing: border-box;

 -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; 
  flex-direction: column;
/*   transition: bottom 0.3s cubic-bezier(0.080, 0.770, 0.445, 0.985);
 */

  transition: all 0.4s cubic-bezier(0.08, 0.77, 0.445, 0.985);

}
.audioPlayer.showmoree{
    bottom:0;
}

.moree {
display: flex;
align-items: center;
justify-content: center;
    
}
#audiomore:checked + .moree svg {
    transform: rotate(180deg);
}
.audioA .moree svg {
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}
.audioPlayer .audioB{
justify-content: space-between;
margin:0 4px;
    
}
.audioPlayer .audioB select{
    padding: 6px 10px;
    outline:0;
    border:1px solid var(--border);
    font-family: Poppins;
    font-weight: 600;
    background: var(--bg-light);
    border-radius: 8px;
    font-size: 0.75rem;
    color:var(--text-muted);
    border-top-color: var(--border-muted);
    
}
.audioPlayer .audioA , .audioPlayer .audioB{
        height: 56px;
    display: flex;
    align-items: center;
    
}

.audioPlayer.full{
height: 100vh;
width:100vw;
top:0;
bottom:0;
left:0;
right:0;
border-radius: 0;
border:0;
}

.list {
    display:flex;
    flex-direction: column;
    padding: 1rem;
    gap:1rem;
}

.list a {
    color:var(--text);
    text-decoration: auto;
    padding: 0;
    border-radius: 12px;
      display: flex;
    border:1px solid var(--border-muted);
    border-top-color: var(--highlight);
/*  border:2px solid grey; 
*/
background: var(--bg);
flex-direction: column;
  color:var(--text);
   
}

.list a label {
    border-bottom:1px solid var(--border);
    padding: 8px 16px;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
    color:var(--primary);
    background: var(--bg-light);
    border-radius: 13px 13px 0 0;

}
.list a span {
    font-size: 1rem;
    font-weight: 400;
    padding: 8px 16px;
    max-height: 10rem;
    overflow: hidden scroll;
}
.list a span b{
background: var(--text);
color:var(--bg);
    font-weight: 500;
}

#plusTen , #minusTen {
      display: none;
  }
  
/* Tablet - 2 columns */
@media (min-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  nav ul.menu {
    display: none;
}
  .audioPlayer {
      width:100%;
     
  }
  #plusTen , #minusTen {
      display: none;
  }
}

/* Larger Tablets - 3 columns */
@media (min-width: 768px) {
      .grid {
        grid-template-columns: repeat(3, 1fr);
      }
      .search {
          width: 60%;
          margin: 16px auto 0 auto;
      }
        nav ul.menu {
        display: flex;
        }
        .hamburger{
            display: none;
        }
          .audioPlayer {
      width:70%;
  }
  #plusTen , #minusTen {
      display: flex;
      height:24px;
      width:24px;
      margin-left: 8px;
  }
  
  .list {
      width:70%;
      margin:0 auto;
  }
}

/* Desktops - 4 columns */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
 

  }
  .list {
    width: 60%;
    margin: 0 auto;
}
    .search {
      width: 50%;
      margin: 16px auto 0 auto;

  }
  nav ul.menu{
  }
    .audioPlayer {
      width:60%;
  }

}
.item h1 {
font-size: 18px;
  font-weight: 600;
}
.item span {
  font-size: 16px;
  color:var(--text-muted);
  font-weight: 400;
  display: flex;
  align-items: center;
}
.item span a{
    margin-left: auto;
    display: flex;
    color:var(--text-muted);
    margin-right: 8px;
}
.item span svg {
    height: 22px;
    width:22px;

}
/* HTML: <div class="loader"></div> */


.audioPlayer .audioA svg{
height:32px;
    width: 32px;
    color:var(--text);
    cursor:pointer;
}
.audioPlayer .audioB svg {
    height: 28px;
    width: 28px;
    color: var(--text-muted);
    cursor: pointer;
}
.audioPlayer .volume{
    margin: 0 0 0 8px;
    height:24px;
    width: 24px;
}
.audioPlayer .info {
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 0 8px;
}
.audioPlayer .info marquee{
    font-weight:500;
    font-size: 16px;
}
.audioPlayer .linearH{
    align-items: center;
    display: flex;
}
.audioPlayer .linearH span{
    font-size: 14px;
    font-weight: 800;
    display: flex;
    color: var(--text-muted);
    font-family: "Google Sans Code", monospace;
}
input[type=range] {
  -webkit-appearance: none; /* Hides the default styling */
  width: 100%;
  height: 8px; /* Height of the track */
  background: #ccc; /* Background color for the unfilled part */
  border-radius: 4px; /* Rounded corners for the track */
  outline: none;
  margin:0 8px;
}

/* Track styling for Firefox */
input[type=range]::-moz-range-track {
  height: 8px;
  background: #ccc;
  border-radius: 2px;
}

/* Progress (filled portion) for Webkit browsers */
input[type=range]::-webkit-slider-runnable-track {
  height: 8px;
  background: #ccc;
  border-radius: 4px;
}

/* Thumb removal for Webkit */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

/* Thumb removal for Firefox */
input[type=range]::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
}

/* Progress bar styling */
input[type=range]::-webkit-progress-value {
  background: var(--text);
  border-radius: 2px;
}

/* Filled portion styling for Webkit */
input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, var(--text) var(--fill-percent, 0%), var(--border-muted) var(--fill-percent, 0%));
}

/* Filled portion styling for Firefox */
input[type=range]::-moz-range-progress {
  background: var(--text);
  border-radius: 2px;
  height: 8px;

}

#play , #pause {
    display: none;
}
/* spinner — linear continuous rotation */
.loadingSvg {
  display: inline-block;          /* allow transform */
  transform-origin: 50% 50%;      /* rotate around center */
  animation: spin-linear 1s linear infinite;
  will-change: transform;         /* perf hint */
}

/* keyframes */
@keyframes spin-linear {
  from { transform: rotate(0deg);  }
  to   { transform: rotate(360deg); }
}

/* optional — stop the spinner by toggling this class */
.loadingSvg.stopped {
  animation-play-state: paused;
  display: none;
}

/* To update the fill percentage dynamically with JavaScript */
/* You would need to add something like this to your JS:
document.querySelector('input[type=range]').addEventListener('input', function() {
  this.style.setProperty('--fill-percent', this.value + '%');
});
*/

